@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer theme, custom-base, custom-components, custom-utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(custom-base);
@import "tailwindcss/utilities.css" layer(custom-utilities);

@layer custom-base {
  :root {
    --background: 210 15% 20%;
    --foreground: 0 0% 100%;
    --card: 210 20% 25%;
    --card-foreground: 0 0% 100%;
    --popover: 210 15% 25%;
    --popover-foreground: 0 0% 100%;
    --primary: 240 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 10% 40%;
    --muted-foreground: 0 0% 80%;
    --accent: 50 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 10% 30%;
    --input: 210 15% 30%;
    --ring: 210 15% 40%;
    --chart-1: 240 100% 50%;
    --chart-2: 120 60% 50%;
    --chart-3: 60 100% 50%;
    --chart-4: 0 100% 50%;
    --chart-5: 300 80% 50%;
  }
}
